@media (max-width: 768px) {
    .site-logo {
        padding-bottom: 2px;
        height: 60px;
    }
}

@media (min-width: 768px) {
    .site-logo {
        padding-bottom: 19px;
    }
}

.header-navigation a, .header-navigation li a {
    padding: 0px 14px;
}

.header-navigation a:hover, .header-navigation li.current a {
    color: #ffffff;
    background: #231f20;
}

.ab-cirle-green {
    right: 8%;
}

.color-panel {
    top: 20px;
}

.color-panel .icon-color {
    background: #c9c9c9 url(../img/icon-color.png) center no-repeat;
}

.color-panel .icon-color:hover {
    background-color: #3d3d3d;
}

.color-panel .icon-color-close {
    display: none;
    background: #3d3d3d url(../img/icon-color-close.png) center no-repeat;
}

.header .mobi-toggler {
    background: url(../img/toggler.png) no-repeat 6px 8px;
}
.header .mobi-toggler:hover {
    background: #e34f00 url(../img/toggler.png) no-repeat 6px -28px;
}
  
.choose-us-block .panel-default .accordion-toggle:before {
    background: #e54a1a url(../img/toggle-icons.png) no-repeat 6px 10px;
}
.choose-us-block .panel-default .collapsed:before {
    background: #495764 url(../img/toggle-icons.png) no-repeat 6px -148px;
}
  
.message-block {
    background: #292F34 url(../img/adan-creation-min.jpg) no-repeat fixed;
    /* opacity: 0.30; */
    /* background-position: right 45% bottom 45%; */
}

.choose-us-block h4 a {
    color: #327fa5;
}

.choose-us-block .panel-default .accordion-toggle, .choose-us-block .panel-default .accordion-toggle:focus, .choose-us-block .panel-default .accordion-toggle:hover, .choose-us-block .panel-default .accordion-toggle:active {
    color: #327fa5;
    text-decoration: none;
}


.facts-block {
    background: #fff url(../img/facts.jpg) no-repeat fixed;
}

.facts-block h2 {
    background: rgba(0,0,0,0.5);
}

.pre-footer a {
    color: #327fa5;
}

.pre-footer dl.f-twitter dt i {
    color: #327fa5;
    font-size: 20px;
}

.powered > a {
    color: #ffffff;
    text-decoration: none;
}

.powered > a:hover {
    color: #3C4A55;
}

::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
::selection {

    color: #fff;
    background: #3C4A55;

}
::selection {

    color: #fff;
    background: #3C4A55;

}
::selection {

    color: #fff;
    background: #e6400c;

}
::selection {

    color: #fff;
    background: #e6400c;

}
elemento {

    display: block;
    padding-right: 17px;

}
.modal-open .modal {

    overflow-x: hidden;
    overflow-y: auto;

}
.fade.in {

    opacity: 1;

}
.modal {
    /* top: 10px; */
    z-index: 10000;
}